In [1]:
import warnings
import sys
sys.path.append('../')
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import os
from tabulate import tabulate
from texttable import Texttable

import latextable
from PrepareData import read_json, make_folder

In [8]:
# # generate large synthetic samples
# base_x1 = 1.3
# size_base = 100
# x1_centers = [1.2, 1.5, base_x1, 1.6]
# x1_std = [0.1, 0.1, 0.1, 0.1]

# x2_centers = [1, 1.2, 1, 1]
# x2_std = [0.1, 0.1, 0.1, 0.1]

# weights_x1 = [-0.6, -0.6, 0.6, 0.6]
# weights_x2 = [-0.2, -0.2, -0.4, -0.4]

# conds = [-1, -1, 0.6, 0.6]
# sizes = [55*size_base, 25*size_base, 5*size_base, 15*size_base]
# np.random.seed(1)

# sample_df = pd.DataFrame(columns=['A', 'X1', 'X2', 'Y_prob', 'Y'])
# groups = [1, 1, 0, 0]
# labels = [0, 1, 0, 1]
# for mu_x1, sigma_x1, mu_x2, sigma_x2, weight_x1, weight_x2, cond_i, group_i, size_i in zip(x1_centers, x1_std, x2_centers, x2_std, weights_x1, weights_x2, conds, groups, sizes):
#     cur_x1_values = np.random.normal(mu_x1, sigma_x1, size_i)
#     cur_x2_values = np.random.normal(mu_x2, sigma_x2, size_i)
#     for x1_i, x2_i in zip(cur_x1_values, cur_x2_values):
#         y_i = weight_x1*x1_i + weight_x2* x2_i
        
#         if cond_i > 0:
#             y_int_i = int(y_i > cond_i)
#         else:
#             y_int_i = int(y_i < cond_i)
#         sample_df.loc[sample_df.shape[0]] = [group_i, x1_i, x2_i, y_i, y_int_i]

In [13]:
# data.csv is generated from drawdata.xyz
df = pd.read_csv('data.csv') 
df.head()

            x           y  z
0  227.023610  352.049443  a
1  210.724485  323.725229  a
2  226.225240  402.524527  a
3  180.931732  371.479071  a
4  211.900670  363.786677  a

In [14]:
df.rename(columns={'x': 'X1', 'y': 'X2'}, inplace=True)
df.head()

           X1          X2  z
0  227.023610  352.049443  a
1  210.724485  323.725229  a
2  226.225240  402.524527  a
3  180.931732  371.479071  a
4  211.900670  363.786677  a

In [15]:
y_map = {'a': 0, 'b': 1, 'c': 0, 'd': 1}
a_map = {'a': 1, 'b': 1, 'c': 0, 'd': 0}
df['Y'] = df['z'].apply(lambda x: y_map[x])
df['A'] = df['z'].apply(lambda x: a_map[x])
df.head()

           X1          X2  z  Y  A
0  227.023610  352.049443  a  0  1
1  210.724485  323.725229  a  0  1
2  226.225240  402.524527  a  0  1
3  180.931732  371.479071  a  0  1
4  211.900670  363.786677  a  0  1

In [16]:
df.groupby(by=['A', 'Y']).count()

      X1   X2    z
A Y
0 0  261  261  261
  1  201  201  201
1 0  547  547  547
  1  408  408  408

In [9]:
sample_df.groupby(by=['A', 'Y']).count()

           X1    X2  Y_prob
A   Y
0.0 0.0  1564  1564    1564
    1.0   436   436     436
1.0 0.0  4939  4939    4939
    1.0  3061  3061    3061

In [10]:
3/8, 1/5

(0.375, 0.2)

In [11]:
0.2/0.375

0.5333333333333333

In [ ]:
0.2/0.8