In [6]:
import warnings
import sys
sys.path.append('../')
warnings.filterwarnings('ignore')

In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import os
from tabulate import tabulate
from texttable import Texttable

import latextable
from joblib import load
from PrepareData import read_json, make_folder

In [8]:
repo_dir = sys.path[0].replace('notebooks', '')
res_path=repo_dir+ 'intermediate/models/'
res_path

'/Users/keyang/Projects/PubRepo/NonInvasiveTool4FairML/intermediate/models/'

In [9]:
def get_inconsistenty_flag(x):
    vio_all = [x.iloc[2], x.iloc[3], x.iloc[4], x.iloc[5]]
    cur_min = min(vio_all)
    min_idx = vio_all.index(cur_min)
    
    if min_idx == 0: # G0 Y0
        if x.iloc[0] == 0 and x.iloc[1] == 0:
            return 0
        else:
            return 1
    elif min_idx == 1: # G0 Y1
        if x.iloc[0] == 1 and x.iloc[1] == 0:
            return 0
        else:
            return 1
    elif min_idx == 2: # G1 Y0
        if x.iloc[0] == 0 and x.iloc[1] == 1:
            return 0
        else:
            return 1
    else:
#         min_idx == 2: # G1 Y1
        if x.iloc[0] == 1 and x.iloc[1] == 1:
            return 0
        else:
            return 1

In [27]:
data_name = 'credit'
# model_name = 'lr'
seed = 1
group_i = 1
label_i = 1
cur_dir = res_path + data_name + '/'
# train_vio = pd.read_csv('{}test-cc-{}.csv'.format(cur_dir, seed))
# test_df = pd.read_csv('{}test-{}-{}-{}.csv'.format(cur_dir, model_name, seed, 'multi'))
test_df = pd.read_csv('{}weights-cc-{}-G{}-L{}.csv'.format(cur_dir, seed, group_i, label_i))

In [28]:
test_df

,X1,X2,X3,X4,X5,X6,intercept
0,-1.124686e-13,-1.439435e-14,-4.078122e-11,-5.153662e-14,2.135016e-14,0.998132,0.061099
1,-3.001911e-02,2.915730e-04,9.980050e-01,1.134565e-03,-5.391589e-04,-0.003393,0.055423
2,-9.992858e-01,1.385425e-03,-2.869263e-02,-1.104732e-03,-4.435634e-04,0.001498,-0.024477
3,-1.542553e-04,9.937658e-01,-4.118396e-03,-8.355123e-02,2.104861e-02,-0.004315,0.070499
4,4.123550e-03,-7.403135e-02,9.042310e-03,-9.861773e-01,4.979160e-02,0.008509,-0.139008
5,5.538156e-03,3.451854e-02,1.183884e-02,-2.074800e-02,-9.748031e-01,0.013381,-0.218602
6,-2.188885e-02,-7.586440e-02,-5.407327e-02,-1.415645e-01,-2.164165e-01,-0.058730,0.959435

In [29]:
group_i = 0
label_i = 1
test_df = pd.read_csv('{}weights-cc-{}-G{}-L{}.csv'.format(cur_dir, seed, group_i, label_i))
test_df

,X1,X2,X3,X4,X5,X6,intercept
0,-2.231154e-12,3.313745e-14,-1.002134e-10,-6.555733e-14,6.120585e-14,0.998132,0.061099
1,-7.824928e-03,-5.846643e-04,9.984026e-01,5.373839e-04,-6.481956e-04,-0.003418,0.055841
2,-9.997157e-01,-1.704896e-03,-6.564374e-03,2.190176e-03,-1.001124e-03,0.001389,-0.022688
3,-3.732158e-03,9.958205e-01,-4.503039e-03,-9.403832e-03,-8.745326e-03,-0.005513,0.090067
4,3.046380e-03,1.249234e-02,1.370783e-02,-9.711183e-01,4.116061e-02,0.014313,-0.233831
5,1.645775e-02,5.836991e-02,3.857936e-02,1.392762e-01,-7.016766e-01,0.042466,-0.693745
6,-1.459973e-02,-6.910261e-02,-3.811203e-02,-1.934887e-01,-7.112509e-01,-0.040997,0.669748

In [30]:
group_i = 0
label_i = 0
test_df = pd.read_csv('{}weights-cc-{}-G{}-L{}.csv'.format(cur_dir, seed, group_i, label_i))
test_df

,X1,X2,X3,X4,X5,X6,intercept
0,-9.985931e-14,-0.267929,-1.796750e-11,-3.586714e-14,1.054712e-14,0.962981,0.029694
1,-3.633528e-12,0.957328,-5.011327e-11,-1.002531e-13,3.008704e-14,0.262638,0.120599
2,3.438975e-02,0.005973,-9.978854e-01,-1.437873e-03,7.979381e-04,0.003349,-0.054704
3,9.991069e-01,-0.002854,3.297423e-02,1.946373e-03,6.640479e-04,-0.001600,0.026138
4,5.319889e-03,0.015633,9.666516e-03,-9.822587e-01,1.192589e-01,0.008765,-0.143186
5,1.741531e-02,0.074884,3.819137e-02,1.444511e-02,-7.212762e-01,0.041984,-0.685872
6,-1.646763e-02,-0.076425,-3.981819e-02,-1.869579e-01,-6.823026e-01,-0.042848,0.699983

In [31]:
group_i = 1
label_i = 0
test_df = pd.read_csv('{}weights-cc-{}-G{}-L{}.csv'.format(cur_dir, seed, group_i, label_i))
test_df

,X1,X2,X3,X4,X5,X6,intercept
0,6.301649e-13,-0.337509,-3.816959e-11,-3.464590e-14,1.243450e-14,0.941094,0.020758
1,5.345426e-12,0.935068,-9.198554e-11,-7.899237e-14,2.797762e-14,0.332647,0.122454
2,1.071089e-01,0.005761,-9.928237e-01,-7.670635e-04,3.330584e-04,0.003230,-0.052769
3,9.939524e-01,-0.003255,1.056212e-01,2.551241e-04,1.456131e-05,-0.001825,0.029811
4,2.299580e-03,0.009523,5.750987e-03,-9.927904e-01,8.125062e-02,0.005339,-0.087224
5,9.126299e-03,0.040521,2.074209e-02,-4.253790e-02,-9.261602e-01,0.022719,-0.371142
6,-2.230794e-02,-0.099800,-5.178855e-02,-1.120585e-01,-3.682737e-01,-0.055954,0.914083

In [375]:
# train_vio['inconsist'] = train_vio[['Y', 'A', 'vio_G0_L0', 'vio_G0_L1', 'vio_G1_L0', 'vio_G1_L1']].apply(lambda x: get_inconsistenty_flag(x), axis=1)

In [32]:
# data_name = 'bank'
# model_name = 'tr'
# seed = 1

# cur_dir = res_path + data_name + '/'
# base_pipe = load('{}{}-{}.joblib'.format(cur_dir, model_name, seed))
# base_model = base_pipe.best_estimator_.named_steps['learner']
# base_weights = base_model.coef_[0] + base_model.intercept_
# min_base = min(base_weights)
# pos_base = [x+abs(min_base) for x in base_weights]
# max_base = max(pos_base)
# norm_base = np.array([x/max_base for x in pos_base])
# for group_i in [0,1]:
#     g_pipe = load('{}{}-{}-G{}.joblib'.format(cur_dir, model_name, seed, group_i))
#     g_model = g_pipe.best_estimator_.named_steps['learner']
#     g_weights = g_model.coef_[0] + g_model.intercept_
#     min_g = min(g_weights)
#     pos_g = [x+abs(min_g) for x in g_weights]
#     max_g = max(pos_g)
#     norm_g = np.array([x/max_g for x in pos_g])
#     dist_g = JSD(norm_base, norm_g)
# #     dist_g = np.linalg.norm(base_weights - g_weights)
# #     dist_g = base_weights - g_weights
# #     dist_g = sum([abs(x-y)/abs(x) for x, y in zip(base_weights, g_weights)])/len(base_weights)
#     print(group_i, dist_g)

In [56]:
seeds = [1, 12345, 6, 2211, 15, 88, 121, 433, 500, 1121, 50, 583, 5278, 100000, 0xbeef, 0xcafe, 0xdead, 7777, 100, 923]
# seeds = [88, 121, 433, 500, 1121, 50, 583, 5278, 100000, 0xbeef, 0xcafe, 0xdead, 7777, 100, 923]

models = ['LR', 'TR']

datasets = ['lsac', 'cardio', 'bank', 'meps16', 'credit', 'ACSE', 'ACSP', 'ACSH', 'ACSM', 'ACSI']

In [57]:
all_diff_df = pd.DataFrame()
eval_path = repo_dir + 'eval/'
for data_name in datasets:
    eval_df = pd.read_csv('{}n-sim-both-all-{}.csv'.format(eval_path, data_name))
    all_diff_df = pd.concat([all_diff_df, eval_df])

In [58]:
all_diff_df.head()

   data  seed  test_n  group_n     sim  sim_n model   method  correct_n
0  lsac     1    3672      275  0 to 1      0    lr  MCC-MIN          0
1  lsac     1    3672      275  0 to 1      0    lr   MCC-W1          0
2  lsac     1    3672      275  0 to 1      0    lr   MCC-W2          0
3  lsac     1    3672      275  0 to 1      0    lr     ORIG          0
4  lsac     1    3672      275  0 to 1      0    lr      SEP          0

In [59]:
# first_cols = ['size', '# of attributes (numer./ categ.)', 'minority group U', 'population of U', '% of positive labels in U', 'predictive task']

rows = [['model', 'case'] + datasets]


err_df = pd.DataFrame(columns=['model', 'case'] + datasets)
cases_names = ['0 to 1', '1 to 0']
  
for model_i in ['lr', 'tr']:
    for case_i in cases_names:
        cur_row = [model_i, case_i]
        for data_name in datasets:
            cur_ratios = []
            for seed_i in seeds:
                cur_df = all_diff_df.query('data=="{}" and model=="{}" and sim=="{}" and seed =={} and method=="SEP"'.format(data_name, model_i, case_i, seed_i))
#                 print(cur_df)
                cur_ratios.append(cur_df['sim_n'].values[0]/cur_df['group_n'].values[0])
            
#             cur_ratios = [round(x/y, 3) for x, y in zip(cur_df['sim_n'], cur_df['group_n'])]
#             print(cur_ratios)
            cur_row.append('{}%'.format(round(np.mean(cur_ratios)*100, 1)))
            
        err_df.loc[err_df.shape[0]] = cur_row
        rows.append(cur_row)

In [60]:
err_df

  model    case  lsac cardio  bank meps16 credit  ACSE  ACSP  ACSH  ACSM  ACSI
0    lr  0 to 1  0.0%   0.0%  0.0%   0.0%   0.0%  0.0%  0.0%  0.0%  0.0%  0.0%
1    lr  1 to 0  0.0%   0.0%  0.0%   0.0%   0.0%  0.0%  0.0%  0.0%  0.0%  0.0%
2    tr  0 to 1  0.0%   0.0%  0.0%   0.0%   0.0%  0.0%  0.0%  0.0%  0.0%  0.0%
3    tr  1 to 0  0.0%   0.0%  0.0%   0.0%   0.0%  0.0%  0.0%  0.0%  0.0%  0.0%

In [61]:
# first_cols = ['size', '# of attributes (numer./ categ.)', 'minority group U', 'population of U', '% of positive labels in U', 'predictive task']

rows = [['model', 'method'] + datasets]

case_i = '0 to 1'
err_df = pd.DataFrame(columns=['model', 'method'] + datasets)
methods = ['SEP', 'MCC-MIN', 'MCC-W1', 'MCC-W2', 'SCC-KAM']    

for model_i in ['lr', 'tr']:
    for method_i in methods:
        cur_row = [model_i, method_i]
        for data_name in datasets:
            cur_ratios = []
            for seed_i in seeds:
                
                cur_df = all_diff_df.query('data=="{}" and model=="{}" and sim=="{}" and seed =={} and method=="{}"'.format(data_name, model_i, case_i, seed_i, method_i))
                if cur_df.shape[0]>0:
                    cur_ratios.append(cur_df['correct_n'].values[0]/cur_df['group_n'].values[0])
            
#             cur_ratios = [round(x/y, 3) for x, y in zip(cur_df['sim_n'], cur_df['group_n'])]
#             print(cur_ratios)
            cur_row.append('{}%'.format(round(np.mean(cur_ratios)*100, 1)))
            
        err_df.loc[err_df.shape[0]] = cur_row
        rows.append(cur_row)

In [62]:
err_df

,model,method,lsac,cardio,bank,meps16,credit,ACSE,ACSP,ACSH,ACSM,ACSI
0,lr,SEP,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
1,lr,MCC-MIN,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
2,lr,MCC-W1,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
3,lr,MCC-W2,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
4,lr,SCC-KAM,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
5,tr,SEP,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
6,tr,MCC-MIN,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
7,tr,MCC-W1,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
8,tr,MCC-W2,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
9,tr,SCC-KAM,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%

In [36]:
# # TODO: compute the relateive distance between G0 and G1
# rows = [['dist(M0, M)/dist(M1, M)'] + datasets]

# # cases_names = ['sep_orig', 'mcc_min_sep', 'mcc_w1_sep', 'mcc_w2_sep']
# # cases_names = ['sep_orig', 'mcc_min_orig', 'mcc_w1_orig', 'mcc_w2_orig']
# err_df = pd.DataFrame(columns=['dist(M0, M)/dist(M1, M)'] + datasets)

# case_count = 'correct_n'
# base_count = 'test_n' 
# cur_row = ['-']
# for data_name in datasets:
#     cur_df = all_diff_df.query('data=="{}" and model=="lr"'.format(data_name))
#     g0_values = np.array(cur_df.query('group=="G0"')['weights_divergence'])
#     g1_values = np.array(cur_df.query('group=="G1"')['weights_divergence'])
#     cur_ratios = [x/y for x, y in zip(g0_values, g1_values)]

#     cur_row.append('{}%'.format(round(np.mean(cur_ratios), 1)))
#     print(data_name, cur_ratios, '\n')
# err_df.loc[err_df.shape[0]] = cur_row
# rows.append(cur_row)

In [ ]:
# first_cols = ['size', '# of attributes (numer./ categ.)', 'minority group U', 'population of U', '% of positive labels in U', 'predictive task']

rows = [['model', 'case'] + datasets]

cases_names = ['sep_orig', 'mcc_min_sep', 'mcc_w1_sep', 'mcc_w2_sep']
# cases_names = ['sep_orig', 'mcc_min_orig', 'mcc_w1_orig', 'mcc_w2_orig']
err_df = pd.DataFrame(columns=['model', 'case'] + datasets)

case_count = 'correct_n'
base_count = 'test_n'     
for model_i in ['lr', 'tr']:
    for case_i in cases_names:
        cur_row = [model_i, case_i]
        for data_name in datasets:
            cur_df = all_diff_df.query('data=="{}" and model=="{}" and case=="{}"'.format(data_name, model_i, case_i))
            
            
            cur_ratios = [round(x/y, 3) for x, y in zip(cur_df[case_count], cur_df[base_count])]
            
            cur_row.append('{}%'.format(round(np.mean(cur_ratios)*100, 1)))
            
        err_df.loc[err_df.shape[0]] = cur_row
        rows.append(cur_row)

In [14]:
# first_cols = ['size', '# of attributes (numer./ categ.)', 'minority group U', 'population of U', '% of positive labels in U', 'predictive task']

rows = [['model', 'case'] + datasets]

cases_names = ['sep_orig', 'mcc_min_sep', 'mcc_w1_sep', 'mcc_w2_sep']
# cases_names = ['sep_orig', 'mcc_min_orig', 'mcc_w1_orig', 'mcc_w2_orig']
err_df = pd.DataFrame(columns=['model', 'case'] + datasets)

case_count = 'correct_n'
base_count = 'test_n'     
for model_i in ['lr', 'tr']:
    for case_i in cases_names:
        cur_row = [model_i, case_i]
        for data_name in datasets:
            cur_df = all_diff_df.query('data=="{}" and model=="{}" and case=="{}"'.format(data_name, model_i, case_i))
            
            
            cur_ratios = [round(x/y, 3) for x, y in zip(cur_df[case_count], cur_df[base_count])]
            
            cur_row.append('{}%'.format(round(np.mean(cur_ratios)*100, 1)))
            
        err_df.loc[err_df.shape[0]] = cur_row
        rows.append(cur_row)

In [15]:
err_df

,model,case,lsac,cardio,bank,meps16,credit,ACSE,ACSP,ACSH,ACSM,ACSI
0,lr,sep_orig,2.4%,2.2%,0.8%,0.6%,0.6%,0.7%,2.0%,0.5%,0.3%,0.8%
1,lr,mcc_min_sep,11.5%,5.4%,0.4%,0.7%,1.4%,1.7%,4.7%,2.2%,1.5%,1.5%
2,lr,mcc_w1_sep,16.5%,2.4%,0.6%,0.5%,1.2%,5.3%,16.0%,6.6%,2.0%,6.5%
3,lr,mcc_w2_sep,15.2%,5.5%,0.6%,0.6%,1.2%,6.6%,8.0%,6.3%,2.0%,7.4%
4,tr,sep_orig,3.8%,0.7%,0.5%,0.8%,0.2%,0.5%,3.3%,1.2%,1.0%,1.6%
5,tr,mcc_min_sep,6.1%,2.7%,1.0%,1.0%,0.6%,0.4%,5.8%,1.0%,2.6%,1.7%
6,tr,mcc_w1_sep,7.3%,2.5%,2.1%,0.7%,2.1%,3.2%,14.6%,2.8%,3.2%,7.7%
7,tr,mcc_w2_sep,4.8%,2.3%,2.1%,1.0%,0.8%,5.5%,5.1%,2.8%,3.2%,7.9%

In [16]:
# first_cols = ['size', '# of attributes (numer./ categ.)', 'minority group U', 'population of U', '% of positive labels in U', 'predictive task']

rows = [['model', 'case'] + datasets]


err_df = pd.DataFrame(columns=['model', 'case'] + datasets)

case_count = 'correct_g0_n'
base_count = 'g0_n'     
for model_i in ['lr', 'tr']:
    for case_i in cases_names:
        cur_row = [model_i, case_i]
        for data_name in datasets:
            cur_df = all_diff_df.query('data=="{}" and model=="{}" and case=="{}"'.format(data_name, model_i, case_i))
            
            
            cur_ratios = [round(x/y, 3) for x, y in zip(cur_df[case_count], cur_df[base_count])]
            
            cur_row.append('{}%'.format(round(np.mean(cur_ratios)*100, 1)))
            
        err_df.loc[err_df.shape[0]] = cur_row
        rows.append(cur_row)

In [17]:
err_df

,model,case,lsac,cardio,bank,meps16,credit,ACSE,ACSP,ACSH,ACSM,ACSI
0,lr,sep_orig,29.7%,12.8%,0.2%,0.9%,0.0%,3.4%,18.6%,3.9%,0.3%,0.1%
1,lr,mcc_min_sep,0.0%,1.6%,1.1%,0.6%,2.1%,0.1%,0.8%,0.9%,1.1%,3.7%
2,lr,mcc_w1_sep,9.0%,1.2%,0.7%,0.4%,1.5%,4.0%,10.1%,3.9%,1.2%,12.2%
3,lr,mcc_w2_sep,7.5%,1.7%,0.7%,0.5%,1.3%,6.4%,5.6%,3.6%,1.2%,13.7%
4,tr,sep_orig,25.2%,3.5%,1.0%,0.9%,0.1%,0.6%,14.2%,2.4%,2.2%,2.8%
5,tr,mcc_min_sep,0.4%,1.2%,0.5%,0.7%,0.8%,0.2%,0.5%,0.4%,3.6%,2.1%
6,tr,mcc_w1_sep,4.2%,0.9%,1.6%,0.5%,2.5%,2.9%,7.9%,1.5%,3.9%,9.6%
7,tr,mcc_w2_sep,2.1%,1.1%,1.6%,0.6%,0.6%,5.2%,2.4%,1.5%,3.9%,10.1%